.head{
	width: 100%;
	height: 40px;
	background-color: #333;

}
.head-wenzi{
	color: #b0b0b0;
	float: left;
	line-height: 40px;
	
	font-size: 12px;
	font-family: '微软雅黑','苹方';
	font-weight: normal;
	/* 设置光标样式 ,下面这个是鼠标箭头变成小手*/
	cursor: pointer;
}
.head-wenzi:hover{
	color: #fff;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;

}
.head-shuxian{
	float: left;
	color: #424242;
	line-height: 40px;
	font-family: '微软雅黑','苹方';
	font-weight: lighter;
	font-size: 12px;
	margin: 0 6px;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}

.nav-neikuan{
	width: 1226px;
	height: 100px;
	/* background-color: pink; */
	margin:0 auto;
	overflow: hidden;
}
.logo{
	width: 55px;
	height: 55px;
	background-color: orangered;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	float: left;
	margin-left: 190px;
}
.nav-font{
	float: left;
	line-height: 100px;
	margin-right: 20px;
	color: #333;
	font-size: 16px;
}
.nav-font:hover{
	color: orangered;
}

.list{
	width: 1226px;
	height: 170px;
	background-color: #FFF;
	margin: 0 auto;
	margin-top: 14px;
}
.list-tu{
	width: 316px;
	height: 170px;
	background-color: skyblue;
	float:left;
	transition: all 0.5s linear;
}

.list-tu1{
	width: 234px;
	/* height: 170px; */
	background-color: #5f5750;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/* 内容两端对齐 */
	align-content: space-between;

}

.list-shuxian{
	align-self: center;
}

.list-shuxian2{
	margin-left: 6.5px;
}
.list-shuxian3{
	margin-left: 6.5px;
}

.list-tu2{
	float: right;
}
.list-tu3{
	margin: 0 15px;
}
.list-tu:hover{
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}
.danpin{
	width: 1226px;
	height: 438px;
	background-color: blue;
	margin: 0 auto;
	margin-top: 26px;
}

.danpin-top{
	width: 100%;
	height: 58px;
	background-color: #ffffff;
	line-height: 58px;
	font-size: 22px;
	font-weight: 200;
	/* 文字粗细 */
	color: #333;
}

.danpin-left{
	float: left;
}
.danpin-right{
	width: 70px;
	height: 25px;
	background-color: orchid;
	float: right;
	margin-top: 16.5px;
}
.danpin-right a{
	width: 33px;
	height: 23px;
	float: left;
	background-color: red;
	border: 1px solid #ccc;
	line-height: 23px;
	text-align: center;
}
.danpin-bottom{
	width: 1226px;
	height: 380px;
	background-color: #ffffff;
	

}
.danpin-contant{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid orangered;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.danpin-img{
	width: 160px;
	height: 166px;
	/* background-color: seagreen; */
	margin: 0 auto;
	display: block;
}

.danpin-wenzi1{
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	display: block;
	margin-top: 22px;
	text-align: center;
}
.danpin-wenzi2{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	margin-top: 3px;
	text-align: center;

}
.danpin-wenzi3{
	font-size: 12px;
	font-weight: normal;
	color: orangered;
	margin-top: 12px;
	text-align: center;
}

.danpin-contant1{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid green;
	padding-top: 39px;
	float: left;
	margin-right: 14px;

}

.danpin-contant2{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid blue;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}

.danpin-contant3{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid red;
	padding-top: 39px;
	float: left;
	margin-right: 14px;

}

.danpin-contant4{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid green;
	padding-top: 39px;
	float: left;
	margin-right: 0;

}
.buy{
	display: block;
	float: left;
	width: 120px;
	height: 40px;
	background-color: #424242;
	margin-left: 12px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
.buy .iconfont{
	font-size: 20px;

}
.buy:hover{
	background-color: #fff;
	color: orangered;
}
.list-icon{
	width: 76px;
	height: 82px;
	/* background-color: #ccc; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	
	/* color: #9c9e9e; */
}

.list-icon .iconfont{
	padding: 0 10px;
}
.list-shuxian{
	width: 1px;
	height: 70px;
	background-color: #665e57;

}
.list-shuxian1{
	width: 65px;
	height: 1px;
	background-color: #665e57;
}
.list-icon a{
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
}
.list-icon .iconfont{
	font-size: 24px;
}
.list-icon:hover a{
	color: rgb(255, 255, 255);
}


.goods{
	width: 100%;
	/* 通屏效果 */
	background-color: #f5f5f5;
}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
	background-color: pink;
}
.jiadian-top{
	width: 100%;
	height: 58px;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	/* 垂直对齐 */

}
.jiadian-wenzi{
	width: 253px;
	height: 58px;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
.jiadian-top h2{
	font-size: 22px;
	font-weight: 200;
	color: #333;
}
.jiadian-wenzi a{
	font-size: 16px;
	color: #333;
	transition: all 0.5s linear;
}
.jiadian-wenzi a:hover,.jiadian-wenzi .jiadian-active{
	color: orangered;
	border-bottom: 2px solid orangered;
}
.jiadian-bottom{
	width: 100%;
	height: 628px;
	background-color: seagreen;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jiadian-left{
	width: 234px;
	height: 100%;
	background-color: yellow;
}
.jiadian-right{
	width: 978px;
	height: 100%;
	background-color: purple;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.jiadian-item{
	width: 234px;
	height: 300px;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.jiadian-item1{
	width: 64px;
	height: 20px;
	background-color: #e53935;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	margin: 0 70px;
}
.jiadian-item2{
	display: block;
	width: 150px;
	height: 156px;
	/* background-color: cyan; */
	margin-top: 14px;
}
.jiadian-item3{
	font-size: 14px;
	color: #333;
	padding: 0 20px;
}
.jiadian-item4{
	font-size: 12px;
	color: #b0b0b0;

}
.jiadian-item5{
	font-size: 14px;
	color: #ff7600;
	padding:0 70px;
}

.jiadian-item:nth-child(3) .jiadian-item1,.jiadian-item:nth-child(6) .jiadian-item1{
	background-color: yellowgreen;
}

.jiadian-item:nth-child(4) .jiadian-item1,.jiadian-item:nth-child(5) .jiadian-item1,.jiadian-item:nth-child(7) .jiadian-item1,.jiadian-item:nth-child(8) .jiadian-item1{
	background-color: rgba(0, 0, 0, 0);
}
.jiadian-items{
	width: 234px;
	height: 300px;
	background-color: red;
}
.jiadian-items1{
	width: 100%;
	/* height: 143px; */
	height: 93px;
	background-color: #ffffff;
	padding-top: 50px;
}
.jiadian-items1:nth-child(2){
	margin-top: 14px;
}
.jiadian-items2{
	width: 50%;
	float: left;
	text-align: center;
}
.jiadian-items2 .jiadian-item5{
	padding: 0;
}

.jiadian-items3{
	width: 80px;
	height: 80px;
	/* background-color: red; */
	background-color: #ffffff;
	float: right;
	margin-right: 10px;
}
.jiadian-items3 .iconfont{
	font-size: 50px;
	color: orangered;
}
